.about {
  &__title {
    letter-spacing: 5px;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    font-family: "ZCOOL XiaoWei", serif;
  }

  &__bio {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--shopifyLink {
      color: $primary-color;
      text-decoration: none;
    }

    &--backBorder {
      border-top: 35px solid $primary-color;
      width: 80%;
    }

    &--info {
      @include boxShadow;
      margin: auto;
      padding: 40px;
      width: 100%;
      font-family: "Telex", sans-serif;
      opacity: 0.9;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 1px;
      background-color: $secondary-color;
      a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
          color: inherit;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .about {
    &__bio {
      &--stack {
        padding: 120px;
        margin-left: 10px;
      }
      &--shopify {
        right: 50px;
      }
      &--storetasker {
        transform: scale(0.3);
        &:hover {
          transform: scale(0.5) rotate(-25deg);
        }
      }
      &--info {
        font-size: 16px;
        line-height: 24px;
        padding: 20px;
      }
    }
  }
}
