.about {
  padding: 30px;

  &__title {
    letter-spacing: 5px;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    font-family: 'ZCOOL XiaoWei', serif;
  }

  &__bio {
    position: relative;

    &--stack {
      padding: 90px;
      border-radius: 200px 0 200px 0;
      width: 90%;
      margin-top: 30px;
      margin-left: 50px;
      background-color: $primary-color;
      position: absolute;

      z-index: -1;
    }

    &--shopify {
      position: absolute;
      right: 180px;
      z-index: 500;
    }

    &--storetasker {
      content: url(../../assets/storetasker.png);
      transition: all 0.4s cubic-bezier(0, 0.9, 0.3, 1.2);
      &:hover {
        transform: scale(1.1) rotate(-25deg);
      }
    }

    &--shopifyLink {
      @include centerAbsolute;
      text-decoration: none;
    }

    &--info {
      @include boxShadow;
      margin: auto;
      padding: 60px;
      width: 70%;
      font-family: 'Telex', sans-serif;
      opacity: 0.9;
      font-size: 18px;
      letter-spacing: 1px;
      background-color: $secondary-color;
      // color: $color-white;
      a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
          color: inherit;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .about {
    &__bio {
      &--stack {
        padding: 120px;
        margin-left: 10px;
      }
      &--shopify {
        right: 50px;
      }
      &--storetasker {
        transform: scale(0.3);
      }
      &--info {
        font-size: 14px;
        padding: 20px;
      }
    }
  }
}
