.card {
  width: 250px;
  height: 350px;
  margin: 25px;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  .front,
  .back {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 350px;
    position: absolute;
    overflow: hidden;
    text-align: center;
  }
  h3,
  p {
    padding: 0 20px;
  }
  img {
    max-height: 130px;
    width: 100%;
    background-size: cover;
  }
  .front {
    background: $secondary-color;
    transition: all 0.5s cubic-bezier(0, 0.9, 0.3, 1.2);
    z-index: 2;
    color: $color-black;
    h3 {
      font-size: 2em;
      color: $color-white;
      text-shadow: 0 0 5px #000;
      margin-top: -1.5em;
      margin-bottom: 1.5em;
    }
    p {
      padding: 20px;
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: lighter;
    }
  }
  .back {
    background: inherit;
    color: $color-black;
    z-index: 1;
    padding-top: 50px;
    height: 300px;
    h4 {
      font-size: 1.5em;
      color: $color-black;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    p {
      padding: 20px;
      font-size: 16px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    button {
      padding: 13px;
      font-family: cursive;
      display: inline-block;
      margin: 20px;
      background-color: inherit;
      color: $color-black;

      border: none;
      span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        &:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }
      }
      &:hover {
        background-color: $secondary-color;
        span {
          padding-right: 25px;
          &:after {
            opacity: 1;
            right: 0;
          }
        }
      }
    }
  }
  &:hover {
    .front {
      top: -300px;
      transform: rotate(2deg);
    }
  }
}
