.footer {
  background-color: $primary-color-dark;
  color: $color-white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  z-index: 1001;
  &__logo {
    width: 40px;
    height: 40px;
  }
  &__copyright {
    padding: 10px;
    font-size: 15px;
  }
  &__icon {
    width: 25px;
    height: 25px;
    margin: 5px;
    color: $secondary-color;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $color-white;
      transform: rotate(25deg) scale(1.2);
    }
  }
}

@media only screen and (max-width: 550px) {
  .footer {
    &__logo {
      width: 30px;
      height: 30px;
    }

    &__copyright {
      font-size: 12px;
    }
    &__icon {
      width: 18px;
      height: 18px;
    }
  }
}
