.graphics {
  padding: 20px;
  text-align: center;
  &__title {
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 30px;
    font-family: 'ZCOOL XiaoWei', serif;
  }
  &__list {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 40px;
    img {
      width: 250px;
    }
  }

  .image-zoom {
    transition: all 0.3s cubic-bezier(0, 0.9, 0.3, 1.2);
  }

  .image-zoom {
    &:hover {
      transform: scale(1.2)
    }
  }
}
