// nav styling
.navigation {
  padding-top: 20px;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: inline-block;
    width: 100%;
  }

  &__link {
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Telex', sans-serif;
    text-decoration: none;
    padding: 15px;
    color: $color-black;
    transition: all 0.4s cubic-bezier(0, 0.9, 0.3, 1.2);
    &:hover,
    &:active {
      color: $secondary-color;
      font-size: 21px;
      cursor: pointer;
    }
  }

  &__logo {
    width: 60px;
    transform: translateY(-15px);
    padding: 5px;
    transition: opacity ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}

@media only screen and (max-width: 550px) {
  .navigation {
    &__list {
      display: block;
    }

    &__item {
      margin: 10px 0;
      text-align: center;
    }
  }
}
