.projects {
  text-align: center;
  margin-top: 10rem;
  &__title {
    padding: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 32px;
    font-family: "ZCOOL XiaoWei", serif;
  }
}
