$primary-color: #010238;
$primary-color-light: rgb(129, 159, 216);
$primary-color-dark: rgb(14, 0, 68);
$primary-color-red-light: rgb(238, 82, 82);
$primary-color-brown: #802f00;
$primary-color-white-light: rgb(233, 229, 229);
$secondary-color: #abbcc2;
$secondary-color-light: #f0ae62;
$color-black: #000;
$color-black-light: #181818;
$color-white: #ffff;
